body {
  margin: 0;
  /* user-select: none; */
}

.maslow {
  background-image: url('../../public/maslow.png');
  background-size: cover; 
  background-position: center; /* Center the image */

}


.main-cover { 
  width: 100%;
  height: 100vh;
  display: flex;
  margin: 0 auto;
  position: relative;
}

.border {
  border: 1px solid rgb(14, 14, 14);
  box-sizing: border-box;
}

.start-button {
  width: 60%;
  height: 8%;
  background-color: #724a94;
  border-radius: 10px;
  position: absolute;
  color: white;
  font-size: 15px;
  display: flex;
  align-items: center;
  bottom: 20%;
  justify-content: center;
  transition: all 0.1s;
}


.progress-bar {
  width: 80%;
  height: 7px;
  background-color:rgb(255, 255, 255);
  border: 1px solid rgb(0, 0, 0);
  margin: 70px auto;
  display: flex;
  align-items: center;
  position: relative;
  
}

.progress-shower {
  width: 0%;
  height: 100%;
  left: 1000px;
  top: 0;
  transition: all 0.2s;
  background-color: rgb(87, 87, 87);
}

.question-container {
  width: 100%;
  height: 30%;
  box-sizing: border-box;
  padding: 50px;
  text-align: center;
  position: absolute;
  top: 30%;
  font-size: 17px;
  color: rgb(0, 0, 0);
}

.button-container {
  width: 100%;
  height: 23%;
  position: absolute;
  bottom: 20px;
  
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.button {
  width: 70%;
  height: 35%;
  background-color: rgb(67, 67, 67);
  border-radius: 10px;
  margin: 10px 0;
  
  display: flex;
  align-items: center;
  justify-content: center;

  color: white;
  box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}


.center {
  display: flex;
  justify-content: center;
}

.result-wrapper {
  width: 100%;
  height: 60%;
  margin-top: 15%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.loading-text {
  font-size: 20px;
  color: rgb(75, 75, 75);
  font-weight: 600;
}

.loading {
  width: 200px;
  height: 200px;
  border: 1px solid black;
  border-radius: 33px;
  background-size: cover; 

  animation: spin 3s linear infinite; 
  background-image: url('../../public/img.png');
}

.loding-container {

  display: flex;
  align-items: center;
  
  justify-content: space-between;
  flex-direction: column;
  margin: 50% auto;
  width: 90%;
  height: 40%;
}

.resultbar-wrapper {
  width: 100%;
  height: 60%;
  
  display: flex;
  flex-direction: row;
  align-items:end;
  justify-content: space-evenly;
}

.resultbar {
  width: 9%;
  height: 10%;
  background-color: rgb(61, 61, 61);
}

.result-title {
  font-size: 20px;
  width: 100%;
  text-align: center;
}

.tags-wrapper {
  width: 100%;
  height: 10%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.tag {
  width: 19%;
  font-size: 13px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

@keyframes spin {
  from {
    transform: rotate(0deg); /* Start at 0 degrees */
  }
  to {
    transform: rotate(360deg); /* End at 360 degrees (full rotation) */
  }
}
  @media (min-width: 768px) { /* Adjust min-width as needed */
    .main-cover {
      width: 30%;
    }
  
    .start-button {
      font-size: 20px;
    }
    .button {
      font-size: 20px;
    }
  
    .question-container { 
      font-size: 20px;
    }
  
    .start-button:hover {
      background-color: #452c5c;
    }
  
    .button:hover{
      background-color: rgb(49, 49, 49);
    }
    
    .maslow {
      background-image: url('../../public/maslow.png');
      /* background-color: red; */
    }
  
    .tag {
      font-size: 15px
    }
  }